body {
	background-color: #E5E9EA;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

/* Search Bar Style */
.search-bar {
	background-color: #D8D8D8;
}

.search {
	font-size: 19px;
	margin: 5px;
}

.search-field {
	background-color: #D8D8D8;
	border: 0;
	color: #2F323B;
	display: inline-block;
	font-size: 16px;
	height: auto;
	padding: 3px 6px;
	text-align: right;
	width: 92%;
}
.search-field:focus {        
  -webkit-box-shadow: 0 0 8px #01A9B3;
  -moz-box-shadow: 0 0 8px #01A9B3;
  box-shadow: 0 0 8px #01A9B3;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.search-field {
		width: 96%;
	}
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.search-field {
		width: 97.5%;
	}
}

.search-i {
	color: #2F323B;
	float: right;
	margin: 2px;
}

/* Filter Bar Style */
.filter-bar {
	background-color: white;
}

.filter a { /* false = deselected */
	border-bottom: 3px solid white;
	font-family: 'Roboto', sans-serif;
	font-size: 14px; /* 1pt bigger than layout to better vizualization */
	color: #BCC0C8;
	display: block;
	letter-spacing: 2px;
	padding: 14px;
}
.filter a:hover,
.filter.true a { /* true = selected */
	border-bottom: 3px solid #01A9B3;
	color: #2F323B;
	text-decoration: none;
}

/* Request Style */
.request a {
	border-bottom: 1px solid #01A9B3;
  display: inline;
  padding-bottom: 1px;
}
.request a:hover {
	color: #01A9B3;
	text-decoration: none;
}
/* Request Image Style and Details Style */
.request-img-container {
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%; height: 123px;
}

.request-img {
	background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%; height: 100%;
}
.request-img-cover {
	background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, #000000 120%);
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%; height: 100%;
}
.request-img-btns {
	margin-top: 4px;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.request-img-container {
		height: 238px;
	}
	.request-img-btns {
		margin-bottom: 100px;
	}
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.request-img-container {
		height: 276px;
	}
	.request-img-btns {
		margin-bottom: 138px;
	}
}
.request-img-btns p {
	line-height: 1.8em;
}
.request-img-btns p {
	background-color: #2F323B;
	border: 0;
	border-radius: 3px;
	color: rgba(255, 255, 255, 0.56);
	float: right; clear: right;
	margin: 7px 18px 0 0;
	text-align: center;
	width: 54px; height: 25px;
}
.request-img-btns p .buy {
	border: 0;
	border-radius: 3px;
	color: rgba(255, 255, 255, 0.56);
	display: block;
	position: relative;
	width: 54px; height: 25px;
	z-index: 1;
}
.request-img-btns p .buy:hover {
	background-color: #707070;
	color: white;
}

.request-img-titles{
	margin-bottom: 25px;
}
.request-img-titles h3,
.request-img-titles h4 {
	color: white;
	margin: 0 20px;
}

.request-link {
	background-color: transparent;
	border: 0 !important;
	display: block !important;
	position: absolute;
	text-indent:-9999px;
	width: 100%; height: 100%;
}
/* Request Post Bar Style */
.request-post-bar {
	background-color: white;
	border-bottom: 1px solid #E5E9EA;
	color: #2F323B;
	font-size: 13px;
	margin: 0;
	padding: 10px 20px 8px 20px;
}

.request-post-first p,
.request-post-first a {
	color: #BCC0C8;
	float: left;
	margin-bottom: 0;
}
.request-post-second {
	color: #2F323B;
}
.request-post-second p,
.request-post-second img {
	float: right;
	margin-bottom: 0;
}
.request-post-second img {
	margin: 2px 5px 0 18px;
	height: 14px;
}

/* Request Comment Style */
.request-comment {
	background-color: white;
	color: #2F323B;
	margin: 0 0 10px 0;
	padding: 10px 19px;
}
.request-comment a {
	color: #2F323B;
}

/* Adjusting Bootstrap Columns Padding */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 0px;
    padding-left: 0px;
}