body {
	background-color: #E5E9EA;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

/* Search Bar Style */
.search-bar {
	background: #D8D8D8;
}

.search {
	font-size: 19px;
	margin: 6px;
}

.search-field {
	background-color: #D8D8D8;
	border: 0;
	color: #2F323B;
	padding: 0 8px;
	text-align: right;
	width: 92%;
}

.search-i {
	color: #2F323B;
	float: right;
	margin: 2px;
}

/* Filter Bar Style */
.filter-bar {
	background-color: white;
}

.filter {
	border: 2px white;
	border-bottom-style: solid;
	color: #BCC0C8;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
	font-size: 14px; /* 1pt bigger than layout to better vizualization */
	padding: 14px;
}

.filter.selected {
	border: 3px #01A9B3;
	border-bottom-style: solid;
	color: #2F323B;
}

.filter:hover {
	border: 3px #01A9B3;
	border-bottom-style: solid;
	color: #2F323B;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.search-field {
		width: 96%;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.search-field {
		width: 97.5%;
	}
}

/* pass to bootstrap-adjust.css
/* adjusting padding */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 0px;
    padding-left: 0px;
}