<div class="row request">
	<div class="row request-img-container">
		<div class="row request-img" style="background-image: url('img/cover.png');"></div>
		<div class="row request-img-cover">
			<div class="col-xs-12 request-img-btns">
				<p>4:35</p>
				<button>Buy</button>
			</div>
			<div class="col-xs-12 request-img-titles">
				<h4>Dutch Uncles</h4>
				<h3>Streetlight</h3>
			</div>
		</div>
	</div>
	<div class="row request-post-bar">
		<div class="col-xs-8 request-post-first">
			<p>posted on:&nbsp;</p>
			<a href="cover">eletric sound of joy</a>
		</div>
		<div class="col-xs-4 request-post-second">
			<p>6</p>
			<img src="img/shared.png" />
			<p>13</p>
			<img src="img/loved.png" />
		</div>
	</div>
	<div class="row request-comment">
		<p>For my money the best track to surface so far from those Dutch Uncles' new LP 'Big Balloon' which is due next Friday.</p>
	</div>
</div>