<div class="row request">
	<div class="row request-img-container">
		<div class="row request-img" style="background-image: url('img/cover2.png');"></div>
		<div class="row request-img-cover">
			<div class="col-xs-12 request-img-btns">
				<p>4:35</p>
				<button>Buy</button>
			</div>
			<div class="col-xs-12 request-img-titles">
				<h4>NickHakim</h4>
				<h3>Bet She Looks Like You</h3>
			</div>
		</div>
	</div>
	<div class="row request-post-bar">
		<div class="col-xs-8 request-post-first">
			<p>posted on:&nbsp;</p>
			<a href="cover">Concrete Opinions</a>
		</div>
		<div class="col-xs-4 request-post-second">
			<p>5</p>
			<img src="img/shared.png" />
			<p>33</p>
			<img src="img/loved.png" />
		</div>
	</div>
	<div class="row request-comment">
		<p>From Nick Hakim's forthcoming debut album Green Twins, out 5/19 via ATO Records. <a href="">[nickhakim.com]</a></p>
	</div>
</div>