<div class="row request" ng-repeat="request in requests | filter: searchText">
	<div class="row request-img-container">
		<div class="row request-img" style="background-image: url('{{request.thumb_url_large}}');"></div>
		<div class="row request-img-cover" >
			<div class="col-xs-12 request-img-btns">
				<p>{{request.time | secondsToDateTime | date:'m:ss'}}</p>
				<p><a class="buy" ng-href="{{request.itunes_link}}">Buy</a></p>
			</div>
			<div class="col-xs-12 request-img-titles">
				<h4>{{request.artist}}</h4>
				<h3>{{request.title}}</h3>
			</div>
		<a class="request-link" ng-href="{{request.posturl}}">imglink</a>
		</div>
	</div>
	<div class="row request-post-bar">
		<div class="col-xs-8 request-post-first">
			<p>posted on:&nbsp;</p>
			<a ng-href="{{request.posturl}}">{{request.sitename}}</a>
		</div>
		<div class="col-xs-4 request-post-second">
			<p>{{request.posted_count}}</p>
			<img src="img/shared.png" />
			<p>{{request.loved_count}}</p>
			<img src="img/loved.png" />
		</div>
	</div>
	<div class="row request-comment">
		<p>{{request.description}}</p>
	</div>
</div>